{% extends "base.html.twig" %}
{% block body %}

<div class="row btn btn-outline-warning">
    <h1><a href="{{path("article")}}">Retour aux Articles !</a></h1>

</div>
<div class="bg-danger">
<h2> Désolé , la page recherchée n'a pas été trouvée !</h2>
</div>

   {% endblock %}
